<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new comment</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
    
    <div> <!-- upload -->
        <div class="b-example-divider"></div>
        <div class="" >
          <!-- style="width: 50rem; margin: 2rem 15rem" for line 101 -->
         
          <form action="/home/chats"   method="post" class="card rounded-3 shadow-sm shadow-lg bg-body-tertiary rounded px-5">
            <h1 class="text-center pt-3">Upload notes</h1>
            <h3 class="my-3">Name</h3><input type="text" name="name" id="" >
            <h3 class="my-3">Comment area</h3> <textarea name="discription" id="" cols="30" rows="10"></textarea><br>
             <br>
            <button type="submit" class="btn btn-primary my-3">Submit</button>
         
          </form>
        </div>
      </div>


   
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script> 
</body>
</html>